* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Oswald', Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* HEADER DE LA PAGINA */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #1c1c1c;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.logo {
    max-width: 5rem;
}

.logo img {
    position: absolute;
    height: 50px;
    max-width: 100%;
    top: 21px;
    left: 50px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    justify-content: space-between;
}

.nav-list li a.active {
    color: red;
    font-weight: bold;
    border-bottom: 1px solid red;
}

.nav-list li {
    position: relative;
}

.nav-list .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2c2c2c;
    padding: 0;
    list-style: none;
    min-width: 200px;
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-list .dropdown li {
    width: 100%;
}

.nav-list .dropdown li a {
    display: block;
    padding: .5rem 1.5rem;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

.nav-list .dropdown li a:hover {
    background-color: #444;
}

.nav-list li:hover > .dropdown {
    display: block;
}

.nav-list li:hover > a {
    color: red;
}

/* MAIN DE LA PAGINA */
.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

.personajes {
    display: block;
    background-color: #1c1c1c;
    margin: 40px 60px;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 20px;
}

.personajes h2 {
    margin-left: 20px;
}

.personaje {
    display: flex;
}

.columna {
    display: block;
    margin-left: 20px;
}

.foto img {
    margin-left: 20px;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 240px;
    height: 300px;
}

.nombre {
    color: red;
}

.descripcion {
    font-size: 24px;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #1c1c1c;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.social-media a {
    margin: 0 0.5rem;
    text-decoration: none;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.footer-name p {
    color: #fff;
    font-size: 1rem;
}

.logo-redes {
    color: red;
}

.nombre-derechos {
    margin-top: 5px;
}

/* RESPONSIVE */
@media (max-width: 480px) {

    /* HEADER RESPONSIVE */
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: red;
    }

    .cerrar-menu {
        color: red;
    }

    .logo img {
        position: absolute;
        height: 50px;
        max-width: 100%;
        top: 25px;
        left: 155px;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #2c2c2c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
        z-index: 1000;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list {
        position: static;
        opacity: 1;
        visibility: visible;
        gap: 1rem;
    }

    .nav-list li a {
        padding: 0.5rem;
    }

    /* MAIN RESPONSIVE */
    .fade-in {
        opacity: 0;
        transition: opacity 1.5s ease-in-out;
    }
    
    .fade-in.visible {
        opacity: 1;
    }

    .personajes {
        margin: 20px 30px;
    }

    .personajes h2 {
        margin-left: 5px;
    }

    .personaje {
        display: block;
    }

    .foto img {
        margin-top: 10px;
        margin-left: 75px;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 300px;
    }

    .nombre {
        margin-top: 15px;
        text-align: center;
        margin-right: 15px;
    }

    .descripcion {
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
        margin-right: 15px;
    }

    /* FOOTER RESPONSIVE */
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media a {
        margin: 0.5rem;
    }
}